<div class="list-group-item">
  <div class="d-flex w-100 justify-content-start" style="height: 25px;">
    <strong class="me-2"><%= message.user.username %>:</strong>
    <p><%= message.body %></p>
  </div>
</div>
