<h1 class="text-center mt-3 card p-4"> Welcome to MessageMe - Log in or Sign up to get started </h1>

<div class="card mt-3 p-4">
  <div class="row g-0">
    <div class="col-md-6 d-flex flex-column align-items-center" style="border-right: 1px solid rgba(0, 0, 0, 0.1);">
      <!-- Login Form -->
      <div class="card-body w-50">
        <form class="text-center">
          <div class="mb-3">
            <label for="loginEmail" class="form-label fw-bold">Email address</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="Enter email">
          </div>
          <div class="mb-3">
            <label for="loginPassword" class="form-label fw-bold">Password</label>
            <input type="password" class="form-control" id="loginPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-center justify-content-center">
      <!-- Signup Button -->
      <button type="button" class="btn btn-primary btn-lg">Sign Up</button>
    </div>
  </div>
</div>
